header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

body {
    color: #666666;
    background-color: #4F6D93;
    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    height: 60px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

#nav {
    padding: 20px;
    float: left;
    width: 160px;

}

#nav ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.2em;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    transition: color 2s ease-out;
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    display: block;
    margin-left: 190px;
}

main ul {
    list-style-image: url(marker.gif);
}

h2 {
    color: #3399CC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    color: #3399CC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

dt {
    color: #000033;
}

#homehero {
    height: 300px;
    background-image: url(coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

#yurthero {
    height: 300px;
    background-image: url(yurthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

#trailhero {
    height: 300px;
    background-image: url(trailhero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

footer {
    font-size: 75%;
    text-align: center;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 20px;
    margin-left: 190px;
    background-color: #FFFFFF;
    float: none;
}

table {
    border: 1px solid #3399CC;
    width: 80%;
    border-spacing: 0;
}

table td {
    padding: 5px;
    border: 1px solid #3399CC;
    text-align: center;
}

table th {
    padding: 5px;
    border: 1px solid #3399CC;
}

td:nth-of-type(odd) {
    background-color: #F5FAFC;
}

.text {
    text-align: left;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: auto;
}

input {
    display: block;
    margin-bottom: 20px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

Submit {
    margin-left: 130px;
}
video, embed{
    float: right;
    padding-left: 20px;
}
#gallery {
    position: relative;
    height: 200px;
    text-align: left;
    color: black;
}
#gallery ul {list-style-type: none;
    width: 300px;
}
#gallery li { display: inline;
    float: left;
    padding: 10px;
}
#gallery img { border-style: none;
}
#gallery a { text-decoration: none;
    font-style: italic;
    color: black;
}
#gallery span { position: absolute;
    left: -1000px;
    opacity: 0;
    transition:  opacity 1s ease-in-out;
}
#gallery a:hover span {
    position: absolute;
    top: 16px;
    left: 320px;
    text-align: center;
    opacity: 1;
}
figure {    position: absolute;
    left: 280px;
    text-align: center;
}
@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFFFFF;
    }

    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }

    main {
        margin-left: 0;
    }

    #nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }

    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 0.75em;
        padding-left: 0.75em;
    }

    #homehero {
        margin-left: 0;
        height: 200px;
    }

    #yurthero {
        margin-left: 0;
        height: 200px;
    }

    #trailhero {
        margin-left: 0;
        height: 200px;
    }

    footer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 37.5em) {
    #header {
        padding-top: 1em;
    }

    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    nav {
        padding: 0;
    }

    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }

    nav a {
        display: block;
    }

    #homehero {
        background-image: none;
        height: 0;
    }

    #yurthero {
        background-image: none;
        height: 0;
    }

    #trailhero {
        background-image: none;
        height: 0;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }

    label {
        float: none;
        text-align: left;
    }

    input[type = "submit"] {
        margin-left: 0;
    }
    #gallery {
        display: none;
    }
}